{% if S_WYSIWYG_ENABLED %}
{% INCLUDECSS '@vinny_wysiwyg/wysiwyg.css' %}
	<script>
		document.body.classList.add('wysiwyg-active');
	</script>

	<div id="wysiwyg-editor-container" style="display: none;" data-toggle-enabled="{{ S_WYSIWYG_TOGGLE ? '1' : '0' }}" data-lang="{{ WYSIWYG_LANG_JSON|e('html_attr') }}" data-html-to-bbcode-url="{{ WYSIWYG_HTML_TO_BBCODE_URL }}" data-bbcode-to-html-url="{{ WYSIWYG_BBCODE_TO_HTML_URL }}">
		<textarea id="wysiwyg-initial-content" style="display: none;">{{ WYSIWYG_CONTENT }}</textarea>
		<!-- The TipTap Editor structure will be dynamically injected here -->
	</div>

	<script type="module" src="{{ BOARD_URL }}ext/vinny/wysiwyg/styles/all/template/js/tiptap-simple.js?assets_version={T_ASSETS_VERSION}"></script>
{% endif %}
