{% if S_WYSIWYG_ENABLED %}
	<dl>
		<dt><label for="user_wysiwyg_enabled_yes">{{ lang('UCP_WYSIWYG_ENABLED') }}:</label><br /><span>{{ lang('UCP_WYSIWYG_ENABLED_EXPLAIN') }}</span></dt>
		<dd>
			<label for="user_wysiwyg_enabled_yes"><input type="radio" name="user_wysiwyg_enabled" id="user_wysiwyg_enabled_yes" value="1" {% if S_USER_WYSIWYG_ENABLED %}checked="checked"{% endif %} /> {{ lang('YES') }}</label>
			<label for="user_wysiwyg_enabled_no"><input type="radio" name="user_wysiwyg_enabled" id="user_wysiwyg_enabled_no" value="0" {% if not S_USER_WYSIWYG_ENABLED %}checked="checked"{% endif %} /> {{ lang('NO') }}</label>
		</dd>
	</dl>
{% endif %}
